.chat-container {
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  height: 100vh;
  max-width: 760px;
  grid:
    "header  " 5em
    "messages" 1fr
    "prompt  " 15em /
    1fr;
}
.chat-header {
  grid-area: header;
}
.messages-container {
  grid-area: messages;
  overflow: scroll;
  overflow-x: hidden;
}
prompt {
  grid-area: prompt;
  position: fixed;
  bottom: 0;
  width: 80%;
}
